html, body, .container-fluid, #map {
    height:100vw;
}
.container-fluid {
    width:100vw;
    position:absolute;
    top:0;
    padding:0;
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 20px;
    }
}
